<section class="artistpage">
  <div class="search">
    <h1>Perroquet</h1>
    <label>recherche:</label>
    <input ng-model="query" type="text" placeholder="Parrots..." autofocus>
    <label class="formgroup">par:
      <select ng-model="Order">
         <option value="race">Race</option>
         <option value="desc">Description</option>
      </select>
    </label>
  </div>
  <ul class="artistlist">
    <li class="artist cf"  ng-repeat="item in parrots | filter:query | orderBy : Order">
      <a href="#/detait/{{parrots.indexOf(item)}}">
        <img class="li" ng-src="images_parrots/parrot_{{item.race}}.jpg" alt="{{item.race}}">
        <div class="info">
          <h2>{{item.race}}</h2>
          <h3 class="ss">{{item.desc}}</h3>
        </div>
      </a>
    </li>
  </ul>
</section>
